@{
    ViewBag.Title = "About This Demo";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        This is a demo site which contains example usages of SignalR, Bootstrap with a custom async tooltip, and Kendo Web UI controls.  The underlying server technology is ASP.NET MVC5.
    </p>

    <p>
        This code used to produce this site is a Visual Studio solution available, in its entirety, on GitHub.
    </p>
</article>

<aside>
    @*<h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>*@
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>