<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SignalR | Bootstrap | Kendo UI</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="http://cdn.kendostatic.com/2013.3.1119/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2013.3.1119/styles/kendo.default.min.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/small-business.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo-nav" href="#"><img src="http://placehold.it/150x75&text=Demo"></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li id="navbar-home" class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li id="navbar-about">@Html.ActionLink("About", "About", "Home")</li>
                    <li id="navbar-contact">@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /.container -->
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-8">
                <img class="img-responsive img-rounded" src="http://placehold.it/900x300&text=MVC+5+*+SignalR+*+Kendo+UI+Web+*+Bootstrap">
            </div>
            <div class="col-lg-4">
                <h1>Push Notification Options</h1>
                <p>Include my edits</p>
                @*<a class="btn btn-primary btn-lg" href="#">Call to Action!</a>*@
                <div class="make-switch switch-large" data-on-label="Yes" data-off-label="No">
                    <input id="show-current-user-updates-switch" type="checkbox" checked>
                </div>
            </div>
        </div>

        <hr>

        @RenderBody()

        <footer>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Daniel Kemper 2013</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/signalR")
    <script src="/signalr/hubs"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
    <script src="http://cdn.kendostatic.com/2013.3.1119/js/kendo.all.min.js"></script>
    <script src="/Scripts/kendo.data.operations.js"></script>
    <script src="/Scripts/console.js"></script>
    <script src="/Scripts/demo.ui.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
