<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SignalR | Bootstrap | Kendo UI</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="http://cdn.kendostatic.com/2013.3.1119/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2013.3.1119/styles/kendo.default.min.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")*@
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/small-business.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header" role="banner">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo-nav" href="#"><img src="../../Images/Science.png"><span>Demo</span></a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li id="navbar-home" class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li id="navbar-about">@Html.ActionLink("About", "About", "Home")</li>
                    <li id="navbar-contact">@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /.container -->
    </div>
    <div class="container" role="main">
        <div class="row">
            <div class="col-lg-8" style="margin: 0 auto; text-align: center;">
                <figure><a href="http://getbootstrap.com"><img class="img-responsive" src="../../Images/bootstrap.png" /></a><figcaption><a href="http://getbootstrap.com">Bootstrap</a></figcaption></figure>
                <figure><a href="http://www.telerik.com/kendo-ui"><img class="img-responsive" src="../../Images/kendo.png" /></a><figcaption><a href="http://www.telerik.com/kendo-ui">Kendo</a></figcaption></figure>
                <figure><a href="http://www.asp.net/mvc"><img class="img-responsive" src="../../Images/mvc.png" /></a><figcaption><a href="http://www.asp.net/mvc">MVC 5</a></figcaption></figure>
                <figure><a href="http://signalr.net/"><img class="img-responsive" src="../../Images/push.png" /></a><figcaption><a href="http://signalr.net/">SignalR</a></figcaption></figure>
            </div>
            <div class="col-lg-4">
                <div id="push-notification-options">
                    <h1 class="no-inline">Push Notification Options</h1>
                    <div class="no-inline nudge-right">Include my edits</div>
                    @*<a class="btn btn-primary btn-lg" href="#">Call to Action!</a>*@
                    <div class="make-switch switch-large inline-me" id="push-notify-toggle" data-on-label="Yes" data-off-label="No">
                        <input id="show-current-user-updates-switch" type="checkbox" checked>
                    </div>
                    <div id="push-notification-help" class="btn btn-default btn-circle inline-me">?</div>
                </div>
            </div>
        </div>

        <hr>

        @RenderBody()

        <footer>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Daniel Kemper 2013</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/signalR")
    <script src="/signalr/hubs"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
    <script src="http://cdn.kendostatic.com/2013.3.1119/js/kendo.all.min.js"></script>
    <script src="/Scripts/kendo.data.operations.js"></script>
    <script src="/Scripts/console.js"></script>
    <script src="/Scripts/demo.ui.js"></script>
    <script src="/Scripts/extensions.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
